:root{
    --grey-4: #121214;
    --grey-3: #212529;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: transparent;
   bo
}


